# Copy this file to '.env' and fill in your configuration options.
# Leave VITE_NTFY_SERVER_URL blank to use the public 'ntfy.sh' broker server, 
# or specify your own self-hosted server domain (e.g. grimoire.brodin.rocks/ntfy)

VITE_NTFY_SERVER_URL=ntfy.sh
VITE_NTFY_ADMIN_USERNAME=
VITE_NTFY_ADMIN_PASSWORD=
